body {
    background-color: #f4f4f4;
}
.navbar {
    margin-bottom: 10%;;
    background-color: #00c669;
    border-radius: 0;
}
.navbar-brand {
    color: white;
    font-size: 14px;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: #ccc;
}
.navbar-brand span {
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.btn {
    background-color: #00c669;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
}
.btn:hover, .btn:focus {
    color: #ccc;
    background-color: rgba(38, 200, 119, 0.9);
    outline: none;
}
.checkbox {
    margin-top: 30px;
}
.form-control, .input-group-addon {
    border-radius: 2px;
    border: none;
}
.input-group-addon {
    background-color: white;
}
.input-group {
    border: 1px solid #ccc;
}
input.form-control:focus, select.form-control:focus {
    box-shadow: none;
    border-color: #ccc;
}
select.form-control {
    border: 1px solid #ccc;
}
form a {
    color: #00c669;
}
form a:hover, form a:focus {
    text-decoration: none;
    color: #ccc;
}
