body {
    background-color: #f4f4f4;
}
#content {
    padding-top: 22px;
    background: white;
    border-radius: 4px;
}
#brand {
    color: green;
    background-color: white;
    padding-top: 20px;
}
#brand h1 {
    font-weight: bolder;
    margin-bottom: 20px;
}
.navbar-default {
    background-color: green;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
#footer {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 90px;
    border-top: 1px solid #ccc;
    text-align: center;
}
