.media-heading {
    margin-left: 60px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-right: 120px;
    padding-bottom: 15px;
    font-weight: bolder;
}
.media-object {
    padding: 30px;
    color: white;
    background: #f4f4f4; 
    font-size: 60px;
}
table {
    width: 100%;
    margin-left: 60px;
    margin-right: 120px;
}
table form {
    display: inline-block;
}
#delete, #delete :focus, #delete :hover, table a, table a:hover, table a:focus  {
    color: #00c669;
    background: transparent;
    border: none;
    outline: none !important;
    text-decoration: none;
}
