#content form {
    display: block;
    margin-left: 60px;
    margin-right: 120px;
}
#content form button {
    background-color: #02a558;
    border-radius: 2px;
    color: white;
}
.form-control {
    border: none;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}
.media-heading {
    margin-left: 60px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-right: 120px;
    padding-bottom: 15px;
    font-weight: bolder;
}
.media-object {
    padding: 30px;
    color: white;
    background: #f4f4f4; 
    font-size: 60px;
}
select, select:focus {
    border: none;
    outline: none;
    padding: 6px 12px;
}
.help-block {
    color: red;
}
.alert-success {
    margin-left: 60px;
    margin-right: 120px;
    margin-bottom: 30px;
    padding: 7px;
}