.pagination {
    display: block;
    margin-bottom: 0px;
    bottom: 15px;
    left: calc(19.8% + 30px);
    width: inherit;
}
table {
    width: 100%;
    margin-bottom: 70px;
}
#table-head {
    font-size: 18px;
}
#email {
    color: #999;
}
#email span {
    float: right;
    margin-right: 90px;
}
tr:nth-of-type(2) {
    border-top: 1px solid #ccc;
}
tr:last-of-type {
    border-bottom: 1px solid #ccc;
}
th {
    padding-bottom: 15px;
}
td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pagination>li>a, .pagination>li>span {
    background-color: #f4f4f4;
    color: #00c669;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #00c669;
    border-color: #00c669;
}
#delete, #delete :focus, #delete :hover  {
    color: #00c669;
    background: transparent;
    border: none;
    outline: none !important;
}
