.navbar {
    margin-bottom: 10%;;
    background-color: #00c669;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    z-index: 999;
}
.navbar .container-fluid {
    padding-left: 0;
}
.navbar-header {
    width: 20%;
    background-color: #02a558;
    padding-left: 30px;
}
.navbar-brand {
    color: white;
    font-size: 14px;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: #ccc;
}
.navbar-brand span {
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.navbar-nav>li>a {
    color: white;
    padding-right: 30px;
}
.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: transparent;
    color: #ccc;
}
#aside-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 19.8%;
    background: #f4f4f4;
    border-left: 1px solid #ccc;
    z-index: 0;
    padding-top: 90px;
}
#content {
    padding-top: 90px;
    margin-left: 20%;
    padding-left: 30px;
    padding-right: 30px;
}
#aside-menu ul {
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
    font-size: 18px; 
}
#aside-menu ul li:first-of-type {
    margin-bottom: 30px;
}
#aside-menu ul li {
    margin-bottom: 15px;
}
#aside-menu ul li a {
    color: #aaa;
}
#aside-menu ul li a:hover, #aside-menu ul li a:focus {
    text-decoration: none;
    color: #bbb;
}
#aside-menu ul li i {
    margin-right: 15px;
}
#aside-menu ul li:first-child i {
    margin-right: 0;
}
#aside-menu ul li.divider {
    border-top: 1px solid #ddd;
    margin-top: 40px;
}
#new-instruction {
    color: white !important;
    background: #00c669;
    border-radius: 2px;
    display: block;
    text-align: left;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    border-top: 1px solid #ccc;
    padding: 30px 0px 15px 0px;
}
#briwan {
    font-size: 14px;
    margin-top: 60px;
    position: absolute;
    bottom: 81px;
    left: 30px;
    right: 30px;
}
#briwan a, #briwan a:hover, #briwan a:focus {
    color: #aaa;
    text-decoration: none;
}
.add {
    font-size: 10px;
    padding: 2px 7.5px;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin-top: 3px;
}