#status {
    margin-top: 0;
    margin-bottom: 50px;
    color: #00c669;
}
#content i.fa-building {
    padding: 20px;
    background-color: #222;
    color: white;
    border-radius: 100%;
}
#deliver button, #delivered {
    background: #00c669;
    color: white;
    border-radius: 2px;
}
#delivered {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
#title_no {
    margin-top: 60px;
    margin-bottom: 30px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 30px;
    font-size: 16px;
}
#track_time span {
    padding: 2px 5px;
    border: 1px solid #777;
    border-radius: 20px;
}
#status .btn-link, #status .btn-link:focus, #status .btn-link:hover {
    color: #aaa;
    text-decoration: none;
    outline: none;
}